body {
	background-color: #95bdf9;
}

.body {
	background-color: #95bdf9;
}

h1{
	text-align: center;
}

.divs{
	font-weight: normal;
}

.divs:hover {
	font-weight: bold;	
}

.button-center{
	text-align: center;
}

.introduction{
	text-align: center;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
